pre {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
}

.language-js .keyword {
  color: #d73a49;
  font-weight: bold;
}

.language-js .string {
  color: #032f62;
}

.language-js .comment {
  color: #6a737d;
  font-style: italic;
}
